footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.772);
  color: rgba(255, 255, 255, 0.69);
  height: 100px;
}

.footer-title {
  text-transform: uppercase;
  padding-top: 5px;
  margin: 0;
}

footer p {
  text-transform: capitalize;
  padding: 10px;
  margin: 0;
}
